.gap.less-gap,
.less-gap,
.pg-inn {
  padding: 8px 15px !important;
}

.customboxes {
    background: #0d0e27;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    font-family: Lato, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    min-height: 240px;
    float: left;
    margin: 20px
}
.centerpart {
  text-align: center;
}
.whyjoin
{
    color:#000;
  background-color: #006609;   
}
.course-wrapper {
  padding: 15px 0 15px !important;
}

.gap {
  padding: 56px 0 56px;
}

.inner-page-wrapper .container .cor-con-mid {
  padding: 14px 0 !important;
}

.ho-ev-link-full h4 {
    color: #0d0e27;
    text-transform: uppercase
}

#home-area ul li {
  color: #fff;
}

.inner-page-wrapper a {
    color: #0d0e27
}

.aboutus-box-body-content p {
  font: 400 22px/24px "Marck Script", cursive;
  font-style: italic;
}

.page-img {
  top: 34%;
  position: absolute;
  left: 8%;
}

.single-item-text h4 {
  padding-top: 6px !important;
}
.iconic {
  height: 40px;
  width: 40px;
}
.home-list li {
  line-height: 28px;
  font-size: 20px;
}

.single-item-text h4 {
  font-size: 22px !important;
}

.desktop-mode {
  display: block;
}

.mobile-mode {
  display: block;
}

.testi-title p {
  font-size: 27px;
}

.testi-desc p {
  font-size: 20px;
}

.gap.remove-gap,
.remove-gap {
  padding-top: 22px;
}

.inner-page-wrapper th {
    background: #0d0e27;
    color: #fff
}


.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
 
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
 
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}


.cta-100 {
    margin-top: 100px;
    padding-left: 8%;
    padding-top: 7%;
  }
  .col-md-4{
      padding-bottom:20px;
  }
  
  .white {
    color: #fff !important;
  }
  .mt{
    float: left;
    margin-top: -20px;
    padding-top: 20px; 
} 
   .bg-blue-ui {
    background-color: #708198 !important;
  }
  figure img{width:300px;}
  
  #blogCarousel {
    padding-bottom: 100px;
  }
  
  .blog .carousel-indicators {
    left: 0;
    top: 0px;
    height: 50%;
  } 
  
  
   The colour of the indicators 
  
   .blog .carousel-indicators li {
    background: #F5F5F5 !important; 
    border-radius: 50%;
    width: 8px;
    height: 8px;
  }
  
  .blog .carousel-indicators .active {
    background: #006609;
  }
  
  
  
  
  .item-carousel-blog-block {
    outline: medium none;
    padding: 15px;
  }
  
  .item-box-blog {
    border: 1px solid #dadada;
    text-align: center;
    z-index: 4;
    padding: 20px;
    overflow: hidden;
  }
  .item-box-blog2 {
    border: 1px solid #dadada;
    text-align: center;
    z-index: 4;
    padding: 20px;
    overflow: hidden;
    height: 500px;
  }
  .item-box-blog-image {
    position: relative;
    overflow: hidden;
  }
  
  .item-box-blog-image figure img {
    width: 100%;
    height: 150px;
  }
  
  .item-box-blog-date {
    position: absolute;
    z-index: 5;
    padding: 4px 20px;
    top: -20px;
    right: 8px;
    background-color: #41cb52;
  }
  
  .item-box-blog-date span {
    color: #fff;
    display: block;
    text-align: center;
    line-height: 1.2;
  }
  
  .item-box-blog-date span.mon {
    font-size: 18px;
  }
  
  .item-box-blog-date span.day {
    font-size: 16px;
  }
  
  .item-box-blog-body {
    padding: 10px;
  }
  
  .item-heading-blog a h5 {
    margin-top: 8px;
    line-height: 1;
    text-decoration:none;
    color:black !important;
    transition: color 0.3s;
  }
  
  .item-box-blog-heading a {
      text-decoration: none;
      color:black !important;
  }
  
  .item-box-blog-data p {
    font-size: 13px;
  }
  
  .item-box-blog-data p i {
    font-size: 12px;
  }
  
  .item-box-blog-text {
    max-height: 200px;
    overflow: hidden;
    width: 280px;
    text-align: center;
    
  }
  .post-btn{
    color:#006609 !important;
    
  }
  .date{
    color:#006609 !important;
  }
  .mt-10 {
    float: left;
    margin-top: -10px;
    padding-top: 10px;
  }
  
  .btn.bg-blue-ui.white.read {
    cursor: pointer;
    padding: 4px 20px;
    float: left;
    margin-top: 10px;
  }
  
  .btn.bg-blue-ui.white.read:hover {
    box-shadow: 0px 5px 15px inset #4d5f77;
  }

  .whysec{
    display: inline-block;
   text-align:center;
   margin-right:10px;
   height:300px;
   }
   .maindescrpt{
     font-size: 16px;
   }
   .mainsec
   {
   background-image:linear-gradient(to right,#ffafbd, #ffc3a0);
   }
   h2{
   margin-bottom:0px;
   margin-top: 10px;
   text-decoration: none;
   }
   img{
     margin-bottom: 10px;
   }
   .descript{
     width: 200px;
     text-align: left;
   }
  
  img:hover{

    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
    overflow: none;
  }
  .date{
    color: #006609 !important;
    /* float: left;
    width: 100%;
    padding: 4px;
    font-size: 24px;
    font-weight: 700; */
    text-decoration: none !important;
  }
  h5{
    text-decoration: none !important;
    
  }
  a{
    text-decoration: none !important;
  }
  span
  {
    text-decoration: none !important;
   
  }

  .whyhead
  {
    color: #006609 !important;
  }
  .item-box-blog-image2 figure img {
    width: 100%;
    height: 200px;
  }
  .post-btn1{
    color:#006609 !important;
    
  }