.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.wrapp-footer {
  float: left;
  position: relative;
  width: 100%;
  background-color: #000000;
}

.wrapp-footer .social-list-01 {
  padding: 0;
  margin-bottom: 0;
}

.wrapp-footer .social-list-01 a i {
  color: #fff;
  font-size: 20px;
}

.wrapp-footer .social-list-01 a:hover i {
  color: #014e8f;
}

.footer-box-01 {
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-box-02 {
  border-top: 4px solid #006609 !important;
  background-color: #000;
  padding: 17px 0;
  /* text-align: center; */
}

.footer-logo {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 27px;
}

.widget-contact {
  padding: 0;
  margin: 0;
}

.widget-contact li {
  list-style: none;
  margin-bottom: 26px;
}

.widget-contact__title {
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  margin: 0 0 5px;
  font-weight: 400;
}

.widget-contact__text {
  font-size: 14px;
  line-height: 22px;
  color: #bdbdbd;
  margin: 0;
}

.widget-contact__text-email {
  color: #bdbdbd;
}

.widget-contact__text-email:hover {
  color: #006609 !important;
}

.widget-title {
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  font-weight: 600;
  padding-bottom: 20px;
  margin-bottom: 15px;
  position: relative;
}

.widget-title:before {
  content: "";
  width: 0px;
  height: 0px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.widget-title:after {
  content: "";
  width: 60px;
  height: 2px;
  background: #006609 !important;
  position: absolute;
  bottom: 0;
  left: 0;
}

.widget-link {
  padding-top: 10px;
}

.widget-list {
  padding: 0;
}

.widget-list li {
  list-style: none;
  display: block;
  font-weight: 200;
}

.widget-list li a {
  font-size: 14px;
  line-height: 30px;
  color: #bdbdbd;
  display: inline-block;
  vertical-align: middle;
}

.widget-list li a:before {
  content: "\f105";
  font-weight: 700;
  font-size: 12px;
  vertical-align: bottom;
  font-family: Font Awesome\5 Free;
  color: #939393;
  padding-right: 8px;
  color: #006609 !important;
}

.widget-list li a:hover {
  color: #006609 !important;
}

.copy-info {
  font-size: 14px;
  line-height: 21px;
  color: #bdbdbd;
  margin: 0;
}

.footer-info {
  text-align: right;
}

.footer-info a {
  font-size: 14px;
  line-height: 16px;
  color: #bdbdbd;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.5;
}

.footer-info a:hover {
  color: #006609;
  opacity: 1;
}

.footer-info__02 {
  position: relative;
  padding-left: 20px;
  margin-left: 18px;
}

.footer-info__02::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 2px;
  height: 14px;
  background: #bdbdbd;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  left: 0;
}

.social-list-01 li {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.footer-subscribe {
  margin-top: 20px;
  margin-bottom: 0;
  position: relative;
}

.footer-subscribe input {
  background: #fff;
  border-radius: 0;
  font-size: 14px;
  border: 0 solid;
  height: 40px;
  outline: 0;
  box-shadow: none;
  padding: 6px 100px 6px 12px;
  margin-bottom: 6px;
  border-radius: 0;
}

.footer-subscribe input:focus {
  background: #fff;
  border-radius: 6px;
  font-size: 14px;
  border: 0 solid;
  height: 40px;
  outline: 0;
  box-shadow: none;
  padding: 6px 100px 6px 12px;
  margin-bottom: 6px;
}

.footer-subscribe .butn {
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  border-radius: 0;
  color: #fff;
  padding: 5px 18px;
  line-height: 15px;
  background: #014e8f;
  cursor: pointer;
}

.footer-subscribe .butn:hover {
  background: #000;
}

.footer-subscribe .butn span {
  color: #fff;
  line-height: 30px;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

.footer-subscribe .butn:hover span {
  color: #fff;
}

ul.footer-app {
  margin-top: 15px;
}

ul.footer-app li {
  display: inline;
  margin-right: 10px;
}

ul.footer-app li img {
  max-width: 110px;
}
