.vertical-wrapper-fb {
  position: fixed;
  right: 98%;
  top: 30%;
  z-index: 9;
}

.vertical-wrapper-twit {
  position: fixed;
  right: 98%;
  top: 33.9%;
  z-index: 9;
}

.vertical-wrapper-link {
  position: fixed;
  right: 98%;
  top: 37.8%;
  z-index: 9;
}

.vertical-wrapper-you {
  position: fixed;
  right: 98%;
  top: 41.6%;
  z-index: 9;
}
