.vertical-wrapper-fb {
  position: fixed;
  right: 98%;
  top: 30%;
  z-index: 9;
}
.para {
  padding-top: 80px;
  /* align-items: center; */
  color: black;
  font-size: 300px;
  padding-bottom: 60px;
  @media (max-width: 830px) {
    font-size: 10px;
  }
}
.headd a {
  font-size: 20px;
  color: black;
}
a:hover {
  /* font-size: 20px; */
  color: green;
}
.vertical-wrapper-twit {
  position: fixed;
  right: 98%;
  top: 33.9%;
  z-index: 9;
}

.vertical-wrapper-link {
  position: fixed;
  right: 98%;
  top: 37.8%;
  z-index: 9;
}

.vertical-wrapper-you {
  position: fixed;
  right: 98%;
  top: 41.6%;
  z-index: 9;
}
.goToTop.showGototop {
  transform: scale(1);
}

.goToTop {
  bottom: 100px;
  width: 50px;
  height: 50px;
  background: #89c9b9;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 999;
  display: inline-block;
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 310;
  transform: scale(0);
  float: right;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.card {
  width: 300px !important;
  height: 400px !important;
  overflow: hidden !important;
  float: center !important;
  border: solid #006609 !important;
}
